#profile-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  height: 500px;
  justify-content: center;
  border: black solid 2px;
  left: 200px;
  text-align: center;
}


#summoner-icon {
  position: relative;
  width: 200px;
  height: 200px;
  align-self: center;
  bottom: 20px;
}
