:root {
  --primary-interface-height: 60px;
}
#inner-interface-elements {
  display: flex;
  border: blue solid 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  height: var(--primary-interface-height);
  justify-content:space-between
}
#interface-wrapper {
  position: relative;
  width: 100vw;
  height: var(--primary-interface-height);
  background-color: #7092be;
}
.user-pfp {
  width: 60px;
}
#logo {
  padding-top: 10px;
  width: 400px;
  height: 40px;
}
a {
  position: relative;
  padding-right: 20px;
  top: 5px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8em 1.2em;
  font-size: 15px;
  font-weight: 300;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

#interface-menu {
  position: relative;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 200px;
  height: 70px;
  border-left: #1a1a1a 4px solid;
}