#user-menu-options {
    position: absolute;
    flex-direction: column;
    align-items: center;
    min-width: 100px;
    min-height: 100px;
    color: black;
    background-color: #e6e6e6;
    top: 65px;
    left: 100px;
    gap: 10px;
}
#user-menu-options h6 {
    height: 10px;
    color: #050505;
    font-size: 20px;
}
#user-menu-options h6:hover {
    color: forestgreen;
    cursor: pointer;
}